[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	excludesfile = /Users/cezarmathe/.gitignore_global
	editor = nvim
[color]
	ui = true
[includeIf "gitdir:~/Code/Personal/"]
    path = ~/Code/Personal/.gitconfig
[includeIf "gitdir:~/Code/Work/"]
    path = ~/Code/Work/.gitconfig
