[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	excludesfile = /home/cezarmathe/.gitignore_global
	editor = nvim
[color]
	ui = true
[user]
    email = me@cezarmathe.com
    name = cezarmathe
    signingkey = 0xA1206DA77DD4DCDC
